
include LICENSE
include README.rst
include requirements.txt

include jamorasep/resource/kanamap.csv

recursive-include test *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif